# Binários
*.exe
*.dll
*.so
*.dylib

# Diretórios
/bin/
/pkg/
/vendor/

# Arquivos de configuração
.idea/
.vscode/

# Arquivos de compilação
*.test
*.prof

# Arquivos de log e temporários
*.log
*.out
*.pid
*.lock
*.trace

# Arquivos de cache
.cache/
.gocache/

# Arquivos de ambiente
.env
Monolist.md
